@model dynamic

@{
	ViewBag.Title = "Reports";
}

<h1 class="page-header">
	Reports
</h1>

<new-customers-report ></new-customers-report>

<lost-customers-report ></lost-customers-report>
