@using HeroicCRM.Web.Helpers
@model HeroicCRM.Web.Models.EditCustomerForm
@{
	var customer = Html.Angular().ModelFor("vm.customer");
}
<form novalidate
	  name="vm.form"
	  ng-submit="vm.form.$valid && vm.save()">
	<fieldset ng-disabled="vm.saving">

		<div class="modal-header">
			<h3 class="modal-title">Edit Customer</h3>
		</div>

		<div class="modal-body">

			<div class="alert alert-info" ng-hide="vm.errorMessage != null">
				Make changes to the customer below.
			</div>
			<div class="alert alert-danger" ng-show="vm.errorMessage != null">
				{{vm.errorMessage}}
			</div>

			@Html.Angular().FormForModel("vm.customer")

		</div>

		<div class="modal-footer">
			<button class="btn btn-success">Save</button>
			<button type="button" class="btn btn-warning" ng-click="$parent.$dismiss()">Cancel</button>
		</div>

	</fieldset>
</form>