@model dynamic

@{
	ViewBag.Title = "Dashboard";
}

<h1 class="page-header">
	Dashboard
</h1>

<div>
	Welcome to Heroic CRM! This is a simple app to demonstrate how .NET's type system
	can be used to generate client-side code in a strongly-typed way!
</div>